@media screen and (max-width:720px) {

  *{
    font-family: 'Inconsolata', monospace;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

  }
  .container{
    background-color: #292a2a;
    width: 100%;

  }
  #miImg{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .nombre{
    color:#a4a5a6;
    font-weight: lighter;
    font-size: 1.3em;
    text-align: center;
  }

  .center .nombre span{
    color: #e0a80d;
    font-size: 1.5em;
    font-weight: bold;
  }
  .expertise{
    display: block;
  }
  .flexDisplay{
    background-color: #292a2a;
  }

  .textAlineCenter{
    text-align: center;
    color:#a4a5a6;
    padding: 10px;
  }
  .textAlineCenter span{
    font-size: 1.5em;
  }

  .personalInfo{
    display: none;
  }

  .whoIAm div{
    background-color:#313737;
    color: rgb(212, 229, 246);

    padding: 6px;
  }
  .resumen {
    padding: 15px;
    font-size: 1.3em;
    text-align: justify;
    color: rgba(212, 229, 246,0.5);
  }
  /* -----EXPErtiSE */
  .expertise{
    padding: 15px;
    font-size: 1.2em;
    color: rgba(212, 229, 246,0.5);
  }

  .expertise span{
    font-size: 1em;
    color: #e0a80d;
  }
  .expertise h3{
    font-size: 1em;
    font-weight: bold;
    color: rgb(212, 229, 246);
  }

  /* ---PROGRESS BAR */

  .progressBar{
    margin-top: 5px;
    width: 100%;
    height: 10px;
    background-color: #404242;
  }

  .animationProgressBar{
    width: 1%;
    height: 10px;
    background-color: #e9b807;
  }

  .pgBar{
    margin-bottom: 20;
  }
  /* ----Experience---- */
  .experience_info span{
    display: block;
    margin-bottom: 10px;
    color: rgba(212, 229, 246,0.5);

    font-size: 0.9em;
  }
  .experience_info span:nth-child(2) {
    font-size: 1.2em;
    font-weight: bold;
  }
  .experience_info span:nth-child(6) {
    font-size: 0.9em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(133, 138, 143,0.5);
  }
  .aligTex{
    display: none;
  }
  .hide_in_phone{
    display: none;
  }

  .border_phone{
    border-bottom: 1px solid rgba(133, 138, 143,0.5);
    border-top: 1px solid rgba(133, 138, 143,0.5);
    padding: 20px 0;
  }
  /* ---CONTACME-------- */
  #phone_info{
    display: inline;
    color: rgba(212, 229, 246,0.5);
  }
  #phone_info div{
    padding: 20px;
    width: 45%;
  }
  .redesSociales{
    clear: left;
    color: rgba(212, 229, 246,0.5);
    display: flex;
  }
  .redesSociales div{
    padding: 10%;
  }


  /* -----COLORS */
  .color1{
    background-color: #292a2a;
  }
  .color2{
    background-color: #313737;
  }
  /* ------- NavBar ------- */

  #menuForPhone{
    padding: 20px;
    width: 20%;
    text-align: center;
    position: absolute;
    display: inline;
    color: white;
    font-size: 1.4em;
  }
  .header{
    width: 100%;
    background-color: #2d2e2e;

  }

  #forPhone{
    display: none;
    position: absolute;
    left: 5%;
    width: 80%;
    height: 40px;
    border-radius: 2px;
  }

  #forPhone div{
    line-height: 40px;
    text-align: center;
    min-width: 10%;
    color:#c6ced6;
    font-size: 1em;
  }
  #forPhone div:nth-child(1){
    margin-left: 0;
  }

}

@media screen and (max-width:1200px) {

  *{
    font-family: 'Inconsolata', monospace;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

  }

  .container{
    background-color: #292a2a;
    width: 100%;

  }
  #miImg{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .nombre{
    color:#a4a5a6;
    font-weight: lighter;
    font-size: 1.3em;
    text-align: center;
  }

  .center .nombre span{
    color: #e0a80d;
    font-size: 1.5em;
    font-weight: bold;
  }
  .expertise{
    display: block;
  }
  .flexDisplay{
    background-color: #292a2a;
  }

  .textAlineCenter{
    text-align: center;
    color:#a4a5a6;
    padding: 10px;
  }
  .textAlineCenter span{
    font-size: 1.5em;
  }

  .personalInfo{
    display: none;
  }

  .whoIAm div{
    background-color:#313737;
    color: rgb(212, 229, 246);

    padding: 6px;
  }
  .resumen {
    padding: 15px;
    font-size: 1.3em;
    text-align: justify;
    color: rgba(212, 229, 246,0.5);
  }
  /* -----EXPErtiSE */
  .expertise{
    padding: 15px;
    font-size: 1.2em;
    color: rgba(212, 229, 246,0.5);
  }

  .expertise span{
    font-size: 1em;
    color: #e0a80d;
  }
  .expertise h3{
    font-size: 1em;
    font-weight: bold;
    color: rgb(212, 229, 246);
  }

  /* ---PROGRESS BAR */

  .progressBar{
    margin-top: 5px;
    width: 100%;
    height: 10px;
    background-color: #404242;
  }

  .animationProgressBar{
    width: 1%;
    height: 10px;
    background-color: #e9b807;
  }

  .pgBar{
    margin-bottom: 20;
  }
  /* ----Experience---- */
  .experience_info span{
    display: block;
    margin-bottom: 10px;
    color: rgba(212, 229, 246,0.5);

    font-size: 0.9em;
  }
  .experience_info span:nth-child(2) {
    font-size: 1.2em;
    font-weight: bold;
  }
  .experience_info span:nth-child(6) {
    font-size: 0.9em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(133, 138, 143,0.5);
  }
  .aligTex{
    display: none;
  }
  .hide_in_phone{
    display: none;
  }

  .border_phone{
    border-bottom: 1px solid rgba(133, 138, 143,0.5);
    border-top: 1px solid rgba(133, 138, 143,0.5);
    padding: 20px 0;
  }
  /* ---CONTACME-------- */
  .another{
    display: block;
    color: rgba(212, 229, 246,0.5);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .another div{
    padding: 15  px;
    width: 25%;
    float: left;
  }

  .another div:hover{
    background-color: rgba(212, 229, 246,0.2);
    cursor: pointer;
    border-radius: 30px;
  }
  .redesSociales{
    clear: left;
    color: rgba(212, 229, 246,0.5);
    display: flex;
  }
  .redesSociales div{
    padding: 10%;
    font-size: 2.5em;
    width: 25%;
  }


  /* -----COLORS */
  .color1{
    background-color: #292a2a;
  }
  .color2{
    background-color: #313737;
  }

  /* ------- NavBar ------- */
  .header{
    width: 100%;
    background-color: #2d2e2e;
  }
  .navbar{
    position: absolute;
    left: 5%;
    width: 80%;
    height: 40px;
    border-radius: 2px;
    display: flex;
  }

  .navbar div{
    line-height: 40px;
    text-align: center;
    min-width: 10%;
    color:#c6ced6;
    font-size: 1em;

  }
  .navbar div:nth-child(1){
    margin-left: 70%;
    border-right: 1px solid gray;

  }
  .navbar div:nth-child(3){
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .navbar div:hover{
    cursor: pointer;
    background-color: rgba(68, 63, 63, 0.8);
  }
  .active{
    background-color: rgba(68, 63, 63, 0.8);
  }
  .menuForPhone2{
    display: none;
  }
}

@media screen and (min-width:1201px) {

    *{
      font-family: 'Inconsolata', monospace;
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
    }
    .show_only_in_Phone{
      display: none;
    }
    .container{
      display: flex;
    }
    .infoDescription{
      width: 45%;
    }
    #miImg{
      border-radius: 50%;
      width: 350px;
      height: 350px;
      background-size: cover;
      display: block;
      margin-right: 40px;
      margin-left: auto;
      margin-top: 65px;
      margin-bottom: 60px;
    }

    .description{
      width: 65%;
      background-color: #2d2e2e;
    }

    .center{
      position: relative;
      width: 75%;
      height: auto;
      display:block;
      margin-left: auto;
      margin-right: auto;
    }

    .center .nombre{
      color:#a4a5a6;
      font-weight: lighter;
      font-size: 3em;
    }

    .center .nombre span{
      color: #e0a80d;
      font-size: 1.5em;
      font-weight: bold;
    }
    .marginTop{
      margin-top: 120px;
    }

    .socialMedia{
      margin-top: 10px;
      width: 100%;
      display: flex;
      overflow: hidden;
    }
    .socialMedia p{
      color:#a4a5a6;
    }

    .studentbackground{
      width: 100%;
    }

    .links{
      width: 20%;
    }
    .links span{
      font-size: 1.5em;
      color:#a4a5a6;
    }

    .personalInfo{
      border-top: 1.5px solid rgba(164, 165, 166, 0.5);
      margin-top: 80px;
    }
    .personalInfo div{
      width: 25%;
      float: left;
    }
    .personalInfo p{
      color:#a4a5a6;
      margin-bottom: 6px;
    }

    /*-------------------------PART 2 --------------------*/
    .resumen{
      padding-top: 40px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    .resumen p{
      text-align: justify;
      color: #a4a5a6;
      font-size: 1.2em;
    }

    .whoIAm{
      position: relative;
    }

    .whoIAm div{
      color: #a4a5a6;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .whoIAm h3{
      font-size: 1.5em;
      padding-bottom: 10px;
      text-align: right;
    }
  /*------------------------------------------------------*/
    /* backgroundcolor */
    .color1{
      background-color: #292a2a;
    }
    .color2{
      background-color: #2d2e2e;
    }
    /*---------------------------*/
    /* PART 3 */

    .expertise{
      margin-top: 40px;
      width: 45%;
      margin-right: 40px;
      max-height: 250px;
    }

    .expertise span{
      font-size: 1.2em;
      color: #e0a80d;
    }
    .expertise h3{
      font-size: 1.2em;
      font-weight: bold;
      color:#a4a5a6;
    }
    .hideP{
      text-align: left;
      margin-left: 30px;
      overflow: hidden;
      color:#a4a5a6;
      padding: 5px;
    }
    .infoExperience{
      text-align: left;
      margin-left: 30px;
      height: 150px;
      overflow: hidden;
      color:#a4a5a6;
      padding: 5px;
    }
    .marginBotton{
      margin-bottom: 30px;
    }
    /* PROGRESS BAR  */
    .progressBar{
      margin-top: 5px;
      width: 100%;
      height: 10px;
      background-color: #404242;
    }

    .animationProgressBar{
      width: 1%;
      height: 10px;
      background-color: #e9b807;
    }

    .pgBar{
      margin-bottom: 40px;
    }

    /* BORDER COOL FOR EXPERIENCE */
    .borderCool{
      width: 2px;
      height: 75%;
      top: 40%;
      background-color: rgba(133, 138, 143,0.5);
      position: absolute;
    }
    .borderCoolBall{
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #e9b807;
      left: -5px;
    }
    .smallBorder{
      position: absolute;
      top: 0px;
      left: 12.5%;
      width: 2px;
      height: 25px;
      background-color:  rgba(133, 138, 143,0.5);
    }
    .borderCoolbotton{
      width: 2px;
      height: 55%;
      top: 40%;
      background-color: rgba(133, 138, 143,0.5);
      position: absolute;
    }
    .borderCoolbottonFlat{
      width: 22px;
      height: 2px;
      left: -10px;
      bottom: 8px;
      background-color: rgba(133, 138, 143,0.5);
      position: absolute;

    }
    /* ----------------------- */
    .experience_info span{
      display: block;
      margin-bottom: 10px;
      color: #d4e5f6;

    }
    .experience_info span:nth-child(1) {
      font-size: 0.9em;
    }
    .experience_info span:nth-child(2) {
      font-size: 1.2em;
      font-weight: bold;
    }
    .experience_info span:nth-child(3) {
      font-size: 0.9em;
    }
    .experience_info span:nth-child(4) {
      font-size: 0.9em;
    }
    .experience_info span:nth-child(5) {
      font-size: 0.9em;
    }
    .aligTex p{
      text-align: left;
      font-size: 1.4em;
      font-weight: bold;
      position: absolute;
      top: 20%;
    }
    /*--------------------------------- */

    /* EDUCATION DIV */

    .education_info span:nth-child(1) {
      font-size: 1.2em;
      border-bottom: 1px solid rgba(212, 229, 246, 0.2);
      text-align: center;
    }
    .hideP li{
      padding-bottom: 2px;
      color: #d4e5f6;
      text-align: center;
    }
    /* --------------------------- */

    /* CONTACT */
    .contact_info{
      margin-top: 40px;
      text-align: center;
      color: #d4e5f6;
    }

    .redesSociales{
      display: flex;
    }
    .redesSociales div{
      font-size: 5em;
      margin-top: 50px;
      width: 25%;
      padding-left: 5px;
    }

    .flexDisplay{
      display: flex;
    }

    /* ------- NavBar ------- */
    .header{
      width: 100%;
      background-color: #2d2e2e;

    }
    .navbar{
      position: absolute;
      left: 20%;
      width: 60%;
      height: 40px;
      border-radius: 2px;
      display: flex;
    }

    .navbar div{
      line-height: 40px;
      text-align: center;
      min-width: 10%;
      color:#c6ced6;
      font-size: 1.2em;

    }
    .navbar div:nth-child(1){
      margin-left: 70%;
      border-right: 1px solid gray;

    }
    .navbar div:nth-child(3){
      border-left: 1px solid gray;
      border-right: 1px solid gray;
    }
    .navbar div:hover{
      cursor: pointer;
      background-color: rgba(68, 63, 63, 0.8);
    }
    .active{
      background-color: rgba(68, 63, 63, 0.8);
    }
  /* ---------------------------------------------- */
    .nombre_apellido_margin_top{
      margin-top: 150px;
    }

    .experience_info .show_only_in_Phone{
      display: none;
    }
    .menuForPhone2{
      display: none;
    }
}
