
  *{
    font-family: 'Inconsolata', monospace;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .container{
    min-width: 80%;
    max-width: 80%;
    display: flex;
    border: 1px solid red;
  }
  .infoDescription{
    width: 45%;
    height: 400px;
    background-color: #292a2a;
  }

  .description{
  max-width: 65%;
  min-width: 65%;
  max-height: 400px;
  min-height: 400px;
  background-color: #2d2e2e;
  }

  .center{
    position: relative;
    min-width: 80%;
    max-width: 80%;
    height: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .centerheight{
    width: 100%;
    position: absolute;
    top: 40%;
  }

  .center h1{
    color:#a4a5a6;
    font-weight: lighter;
  }

  .center h1 span{
    color: #e0a80d;
    font-size: 1.5em;
    font-weight: bold;
  }

  .socialMedia{
    margin-top: 10px;
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  .socialMedia p{
    color:#a4a5a6;
  }
  .studentbackground{
    width: 100%;
  }

  .links{
    width: 12%;
  }
  .links span{
    font-size: 1.5em;
    color:#a4a5a6;
  }

  .personalInfo{
    max-height: 20%;
    border-top: 1.5px solid rgba(164, 165, 166, 0.5);
    display: flex;
  }
  .personalInfo div{
    width: 25%;
  }
  .personalInfo p{
    color:#a4a5a6;
    margin-bottom: 6px;
  }

    /*
      color:#838c8e;
      color:#e9b807;
      #2d2e2e
      #292a2a
      #2b2c2c
    */
